body
{
	margin: 0;
	background-color: white;
}

.layout
{
	width: 1270px;
	position: relative;
	background-color: white;
	font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	font-weight: 400;
	margin: 0 auto;
}

.header-text
{
    font-size: 30px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Trebuchet MS', 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 200;
    margin-left: 100px;
    padding: 60px 0 0 0;
}

.content
{
  width: 1070px;
  padding: 40px 100px;
}

hr
{
  background-color: #f2f2f2;
  border: 0px;
  height: 2px;
}

.metrics-content
{
	display: block;
}

.metric
{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 33%;
	display: inline-block;
}

.row1
{
	width: 100%;
	height: 45px;
	display: block;
}

.row1 .title
{
	font-size: 15px;
	display: inline-block;
  position: relative;
  vertical-align: middle;
}

.row1 .helper
{
	width: 20px;
	height: 20px;
	display: inline-block;
  position: relative;
}

.row2
{
	width: 100%;
	height: 80px;
	display: block;
}

.row2 .label-value
{
  font-family: 'Segoe UI Semibold', 'Helvetica Neue Medium', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  width: 150px;
	display: inline-block;
}

.row2 .max-value
{
  font-family: 'Segoe UI Semibold', 'Helvetica Neue Medium', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 50px;
  color: #8e93a7;
	display: inline-block;
}

.row3
{
	width: 100%;
	height: 40px;
}

.prediction-content
{
	height: 300px;
  margin-bottom: 50px;
}

.prediction-content .domain
{
  stroke: #a7acbc;
  fill: none;
}

.yAxis-area {
  width:40px;
  height: 250px;
  float:left;
}

.activity-graph
{
  width: 1000px;
  height: 300px;
  overflow: auto;
  float:left;
}


.contributors-content
{
	height: 600px;
}

.donuts
{
 height: 300px; 
 display: block;
}

.donuts .total
{
  width: 500px;
  height: 250px;
  display:inline-block;
}

.donuts .top
{
  width: 500px;
  height: 250px;
  display:inline-block;
}

.top-contributors
{
  height: 250px;
}

.contributor
{
  width: 200px;
  height: 100px;
  margin : 5px;
  margin-bottom: 20px;
  float: left;
}

.contributor .row1 {
  width: 200px;
  height: 90px;
}

.contributor .row2 {
  width: 200px;
  height: 5px;
}

.contributor-image
{
  width: 80px; 
  height: 80px; 
  float: left;
}

.contributor-information
{
  width: 110px;
  height: 70px;
  padding: 5px;
  float: left;
}

.contributor-ranking-bar
{
  background: black;
  width: 200px;
  height: 5px;
  padding: 5px;
}
.contributor-name
{
  overflow: hidden;
  font-size: 12px;
}

.contributor-commit-title
{
  margin-top : 10px;
  overflow: hidden;
  font-size: 11px;
}

.contributor-commit-count
{
  font-size: 25px;
  font-weight: 600;
}

.tooltip-description
{
  width: 300px;
  word-break: break-word;
  font-size : 13px;
}

.tooltip-grades
{
  margin-top : 10px;
  width: 200px;
  font-size : 12px;
}

.tooltip-grades .good
{
  color: #7cd2c7;
}
.tooltip-grades .normal
{
  color: #f7c676;
}
.tooltip-grades .bad
{
  color: #c5819a;
}



