body
{
	margin: 0;
	background-color: white;
}

.layout
{
	width: 1270px;
	position: relative;
	background-color: white;
	font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
	font-weight: 400;
	margin: 0 auto;
}

.header-text
{
    font-size: 30px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Trebuchet MS', 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 200;
    margin-left: 100px;
    padding: 60px 0 0 0;
}

.content
{
  width: 1070px;
  padding: 40px 100px;
}

hr
{
  background-color: #f2f2f2;
  border: 0px;
  height: 2px;
}

.metrics-content
{
	display: block;
}

.metric
{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 33%;
	display: inline-block;
}

.row1
{
	width: 100%;
	height: 45px;
	display: block;
}

.row1 .title
{
	font-size: 15px;
	display: inline-block;
  position: relative;
  vertical-align: middle;
}

.row1 .helper
{
	width: 20px;
	height: 20px;
	display: inline-block;
  position: relative;
}

.row2
{
	width: 100%;
	height: 80px;
	display: block;
}

.row2 .label-value
{
  font-family: 'Segoe UI Semibold', 'Helvetica Neue Medium', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 600;
  width: 150px;
	display: inline-block;
}

.row2 .max-value
{
  font-family: 'Segoe UI Semibold', 'Helvetica Neue Medium', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 50px;
  color: #8e93a7;
	display: inline-block;
}

.row3
{
	width: 100%;
	height: 40px;
}

.prediction-content
{
	height: 300px;
}

.prediction-content .title
{
	font-size: 15px;
  vertical-align: middle;
}

.prediction-content .domain
{
  stroke: #a7acbc;
  fill: none;
}

.yAxis-area {
  width:40px;
  height: 250px;
  float:left;
}

.activity-graph
{
  width: 1000px;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  float:left;
}


.contributors-content
{
}

